<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>| HippoFeedo - CheckExperience |</title>
    <link rel="icon" href="images/favicon.ico">
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Economica:700' rel='stylesheet' type='text/css'>
    <script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.1.1.js"></script>
    <script src="js/script.js"></script>
    <script src="js/jquery.ui.totop.js"></script>
    <script src="js/superfish.js"></script>

    <script src="js/jquery.equalheights.js"></script>
    <script src="js/jquery.mobilemenu.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script>
        $(document).ready(function(){
            $().UItoTop({ easingType: 'easeOutQuart' });
        })
    </script>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" media="screen" href="css/ie.css">
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;border-color:#aaa;}
        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;border-top-width:1px;border-bottom-width:1px;}
        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#f38630;border-top-width:1px;border-bottom-width:1px;}
        .tg .tg-yw4l{vertical-align:top}
    </style>
</head>
<body id="top">
<!--==============================header=================================-->
<div class="main">
    <header>
        <div class="clear"></div>
        <div class="container_12">
            <div class="grid_12">
                <h1>
                    <a href="index.html">
                        <img src="images/logo.png" alt="noimage">
                    </a>
                </h1>
            </div>
        </div>
    </header>
</div>
<div class="menu_block">
    <div class="container_12">
        <div class="grid_12">
            <nav class="horizontal-nav full-width horizontalNav-notprocessed">
                <ul class="sf-menu">
                    <li class="current"><a href="/adminindex.html">Home</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<!--==============================Content=================================-->


<div class="grid_12">

    <div class="inner maxheight">
        <h3>Employee Experience Zone</h3>

        <% if(data!=""){ %>
        <h4>Tracking <%= data[0].email %></h4>
        <hr>

        <table class="tg">
            <tr>
                <th class="tg-yw4l">Posted At</th>
                <th class="tg-yw4l">Title</th>
                <th class="tg-yw4l">Description</th>
                <th class="tg-yw4l">Action</th>
            </tr>
            <% for (var i=0;i<data.length;i++){%>
            <form method="get" action="/removeexperience" novalidate>
            <input type="hidden" value="<%= data[i].email %>" name="email" id="email">
            <input type="hidden" value="<%= data[i]._id %>" name="experienceid" id="experienceid">
            <tr>
                <td class="tg-yw4l"><%= data[i].postdate %></td>
                <td class="tg-yw4l"><%= data[i].title %></td>
                <td class="tg-yw4l"><%= data[i].description %></td>
                <td class="tg-yw4l"><input type="submit" value="Remove Experience"></td>
            </tr>
            </form>
            <% } %>
        </table>

        <% } else {%>

        <div><h3>No Record Found!</h3></div>
        <% } %>


    </div>

</div>

<div class="clear"></div>
<!--==============================footer=================================-->
<footer>
    <div class="hor bg3"></div>
    <div class="container_12">
        <div class="grid_12">
            | HippoFeedo | Coming Soon... |
        </div>
    </div>
</footer>

</body>
</html>