<!DOCTYPE html>
<html>
<head>
    <title>HippoFeedo Login Page</title>
    <link rel="stylesheet" href="../css/style.css"/>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-messages.js"></script>
    <script src="lib/angular-resource.min.js"></script>

    <script>
        var loginApp = angular.module('loginApp', []);

        loginApp.controller('loginController', function($scope){
        });
    </script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css"/>
    <link rel="stylesheet" href="css/loginregister.css">
</head>
<body>
<div class="container">
    <div id="content">
        <div class="github-fork-ribbon-wrapper right" style="top:40px;">
            <div class="github-fork-ribbon" style="background-color: #333;">

                <a href="http://www.storehippo.com">Visit StoreHippo</a>

            </div>
        </div>
    </div>
    <div class="main">
        <div id="box" ng-app="loginApp" ng-controller="loginController">
            <form class="form" name="loginForm" novalidate method="post" action="/checkuser">

                <h2>| HippoFeedo |</h2>
                <hr>
                <p style="text-align:center">Please enter your login credentials to access HippoFeedo</p>
                <br>
                <div class="formElement">
                <label>Email :</label>
                <input type="email" name="email" id="email" ng-model="email" required placeholder="example@hippoinnovation.com">
                <div class="error" style="color: red" ng-if="loginForm.email.$touched" ng-messages="loginForm.email.$error">
                    <span ng-show = "loginForm.email.$error.required">Email is required.</span>
                    <span ng-show = "loginForm.email.$error.email">Email is invalid</span>
                </div>
                </div>

                <div class="formElement">
                <label>Password :</label>
                <input type="password" name="password" id="password" ng-model="password" required placeholder="password">
                <div class="error" style = "color:red" ng-if="loginForm.password.$touched" ng-show = "loginForm.password.$error">
                    <span ng-show = "loginForm.password.$error.required">Password is required</span>
                </div>
                </div>

                <div class="formElement">
                <!--<input type="submit" name="login" id="login" value="Login">-->
                <input type="submit" id="login" name="login" ng-model="login" value="Login" ng-disabled="loginForm.email.$error.email || loginForm.email.$error.required
                                                                                    || loginForm.password.$error.required || loginForm.password.$error.minlength">
                </div>

                <hr>

            </form>

            <form action="/registeropen" method="get">
                <input type="submit" value="Click Here To Register" />
            </form>

        </div>
    </div>
</div>
</body>
</html>