<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>TESTING</title>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>

<ul>
  <!--  <% var d=0;%>
    <h1><%= data[d].name %></h1>
    <h1>Hello, <%= data[d].email %></h1>-->
    <% for (var d=0;d<data.length;d++){%>
    <h4><%= data[d].name %></h4>
    <h4>Hello, <%= data[d].email %></h4>
    <h4>Hello, <%=data[d].position %></h4>
    <% } %>


</ul>

</body>
</html>