<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>| HippoFeedo - WaitingQueue |</title>
    <link rel="stylesheet" href="css/buttoner.css">
    <link rel="icon" href="images/favicon.ico">
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Economica:700' rel='stylesheet' type='text/css'>
    <script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.1.1.js"></script>
    <script src="js/script.js"></script>
    <script src="js/jquery.ui.totop.js"></script>
    <script src="js/superfish.js"></script>

    <script src="js/jquery.equalheights.js"></script>
    <script src="js/jquery.mobilemenu.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script>
        $(document).ready(function(){
            $().UItoTop({ easingType: 'easeOutQuart' });
        })
    </script>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" media="screen" href="css/ie.css">
</head>
<body id="top">
<!--==============================header=================================-->
<div class="main">
    <header>
        <div class="clear"></div>
        <div class="container_12">
            <div class="grid_12">
                <h1>
                    <a href="index.html">
                        <img src="images/logo.png" alt="noimage">
                    </a>
                </h1>
            </div>
        </div>
    </header>
</div>
<div class="menu_block">
    <div class="container_12">
        <div class="grid_12">
            <nav class="horizontal-nav full-width horizontalNav-notprocessed">
                <ul class="sf-menu">
                    <li class="current"><a href="index.html">Home</a></li>
                    <li><a href="/updateprofile">Update Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="main">
    <!--==============================Content=================================-->
    <div class="content">
        <div class="container_12">
            <div class="grid_12">
                <div class="box">
                    <div class="inner maxheight">
                        <h3>Meeting-Request Zone</h3>
                        <div class="map">
                            <div class="clear"></div>
                            <div class="fleft">
                                <h4>Please fill all the fields to request a meeting</h4>
                                <hr>
                                <form method="get" id="form" action="/addmeeting" novalidate>

                                    <div><strong>Request a meeting at:</strong></div>
                                    <label class="name">
                                        <input type="time" name="requesttime" name="requesttime">
                                        <span class="empty-message">*This field is required.</span>
                                    </label>
                                    </br>
                                    </br>
                                    </br>
                                    </br>
                                    <div><strong>Reason</strong></div>
                                    <label class="message">
                                        <textarea placeholder="Explain the reason for requesting a meeting..." data-constraints='@Required @Length(min=10,max=999999)' id="reason" name="reason"></textarea>
                                        <span class="empty-message">*This field is required.</span>
                                        <span class="error-message">*Reason description is too short.</span>
                                    </label>
                                    </br></br></br></br>
                                    <div><strong>Priority</strong></div>
                                    <label class="iii">
                                        <select id="priority" name="priority">
                                            <option>Low</option>
                                            <option>Medium</option>
                                            <option>High</option>
                                        </select>
                                        <span class="empty-message">*This field is required.</span>
                                    </label>
                                    </br></br></br></br>
                                    <div><strong>Other employees you want to join the requested meeting: (Optional) </strong></div>
                                    <label clss="name">
                                        <input type="text" placeholder="Insert the name of the other employees here..." id="companions" name="companions"/>
                                    </label>
                                    <div>
                                        </br></br></br>

                                        <div class="btns">
                                            <a href="javascript:document.getElementById('form').reset()" data-type="reset" class="btn">Clear</a>
                                        </div>

                                    </div>
                                    <input type="submit" id="cmplntsbmt" class="myButton" value="Request a Meeting">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==============================footer=================================-->
    <footer>
        <div class="hor bg3"></div>
        <div class="container_12">
            <div class="grid_12">
                | HippoFeedo | Coming Soon... |
            </div>
        </div>
    </footer>
</div>
</body>
</html>