h2{
    text-align: center;
    font-size: 24px;
}
hr{
    margin-bottom: 10px;
    margin-top: 20px;
}
div.container{
    width: 600px;
    height: 610px;
    margin:50px auto;
    font-family: 'Droid Serif', serif;
    position:relative;
}
div.main{
    width: 430px;
    margin-top: 80px;
    float:left;
    padding: 10px 55px 40px;
    background-color: rgba(187, 255, 184, 0.65);
    border: 15px solid white;
    box-shadow: 0 0 10px;
    border-radius: 2px;
    font-size: 13px;
}
input[type=text],[type=password],[type=email], [type=number] {
    width: 97.7%;
    height: 34px;
    padding-left: 5px;
    margin-bottom: 20px;
    margin-top: 8px;
    box-shadow: 0 0 5px #00F5FF;
    border: 2px solid #00F5FF;
    color: #4f4f4f;
    font-size: 16px;
}
label {
    color: #464646;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    font-weight: bold;
}
p {
    color: firebrick;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    font-weight: bold;
}
input[type=submit] {
    width: 100%;
    background: linear-gradient(#22abe9 5%, #36caf0 100%);
    border: 1px solid #0F799E;
    font-size: 20px;
    margin-top: 15px;
    padding: 8px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    text-shadow: 0px 1px 0px #13506D;
}
input[type=submit]:disabled, input[type=submit] [disabled] :hover {
    cursor: not-allowed;
    color: lightgrey;
    text-shadow: 0px 1px 0px #13506D;
}
.error {
    color: red;
    margin-bottom: 15px;
    font-size: 14px;
}